  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">
          <h4>Find your car today!</h4>
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <div class="text-content">
          <h4>Fugiat Aspernatur</h4>
          <h2>Laboriosam reprehenderit ducimus</h2>
        </div>
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>Saepe Omnis</h4>
          <h2>Quaerat suscipit unde minus dicta</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Categories</h2>
            <a class='category' id='All' href="/?page=shop">view all <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="category" id="Standard">
            <a href="/?page=shop"><img src="view/images/product-1-370x270.jpg" alt=""></a>
            <div class="down-content">
              <h4>Standard</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="category" id="Statue">
            <a href="/?page=shop"><img src="view/images/product-2-370x270.jpg" alt=""></a>
            <div class="down-content">
              <h4>Statues</h4>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="category" id="Nendoroid">
            <a href="/?page=shop"><img src="view/images/product-3-370x270.jpg" alt=""></a>
            <div class="down-content">
              <h4>Nendoroids</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>