<div class="page-heading about-heading header-text" style="background-image: url(view/images/Banner.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content" id="figure_title">
        </div>
      </div>
    </div>
  </div>
</div>

<input class="variation" id="bluepurple" type="radio" value="1" name="color" checked="checked"/>
<label for="bluepurple"></label>
<input class="variation" id="sunset" type="radio" value="2" name="color"/>
<label for="sunset"></label>
<input class="variation" id="godiva" type="radio" value="3" name="color"/>
<label for="godiva" id="labels"></label>

<main>
  <div class="filter-section__wrapper" id="loadedFilters">
    <!-- <section class="filter-section">
      <h6>Filters</h6>
      <div class="filters">
        <h5 class="filters__title">Dog Type</h5>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-1" type="checkbox"/>
            <label for="checkbox-1">Puppy<span class="box"></span>
              <div class="tooltip top" data-tooltip="Younger than 18 months."><span><i class="icon-info"></i></span></div>
            </label>
          </div><span class="badge status-primary">10</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-2" type="checkbox" checked="checked"/>
            <label for="checkbox-2">Young<span class="box"></span></label>
          </div><span class="badge status-primary">5</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-3" type="checkbox"/>
            <label for="checkbox-3">Adult<span class="box"></span></label>
          </div><span class="badge status-primary">20</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-4" type="checkbox"/>
            <label for="checkbox-4">Senior<span class="box"></span></label>
          </div><span class="badge status-primary">8</span>
        </div>
      </div>
      <div class="filters">
        <h5 class="filters__title">Dog Size</h5>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-5" type="checkbox"/>
            <label for="checkbox-5">Small<span class="box"></span></label>
          </div><span class="badge status-primary">9</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-6" type="checkbox" checked="checked"/>
            <label for="checkbox-6">Medium<span class="box"></span></label>
          </div><span class="badge status-primary">12</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-7" type="checkbox"/>
            <label for="checkbox-7">Large<span class="box"></span></label>
          </div><span class="badge status-primary">17</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-8" type="checkbox"/>
            <label for="checkbox-8">XL<span class="box"></span></label>
          </div><span class="badge status-primary">3</span>
        </div>
      </div>
    </section> -->
  </div>

  <div>
    <section class="results-section results--grid" id="loadedProducts">
      
    </section>
  </div>
</main>

<div class="products" id="figure_container">
  <div class="container">
    <div id="productLoader" class="row">
    </div>
  </div>
</div>

<div id="loadedDetails"></div>

<div class="wrapper" id="most_visited">
  <ul class="anchorList">
    <li><a href="#">Most visited figures</a></li>
  </ul>
</div>